---
import "@picocss/pico/css/pico.lime.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chaostreff Augsburg</title>
	</head>
	<body class="container">
		<header>
			<h1>Chaostreff Augsburg</h1>
		</header>

		<main>
			<h2>Wo?</h2>
			<p>
				Wir treffen uns in den Räumen des <a href="https://openlab-augsburg.de">OpenLab Augsburg e.V.</a>, diese
				befinden sich in der <a href="https://www.openstreetmap.org/node/2290200189">Bäckergasse 32, 86161 Augsburg.</a>
			</p>

			<h2>Wann?</h2>
			<p>
				Unsere Treffen finden <b>jeden 3. Donnerstag im Monat</b>, jeweils ab 19:00 statt.
			</p>

			<h2>Kontakt</h2>
			<ul>
				<li>
					<a href="https://matrix.to/#/#c3a:matrix.openlab-augsburg.de">Matrix-Channel</a>
				</li>
				<li>
					<b>Chaos macht Schule</b>: cms (at) greystoke.de
				</li>
			</ul>
		</main>
	</body>
</html>

<style>
body,h1,h2,h3 {
	font-family: 'Courier New', Courier, monospace;
}
</style>
